<button nz-button nzType="primary">Primary Button</button>
<button nz-button nzType="default">Default Button</button>
<button nz-button nzType="dashed">Dashed Button</button>
<button nz-button nzType="text">Text Button</button>
<a nz-button nzType="link">Link Button</a>

<nz-divider nzText="with nzShape"></nz-divider>

<button nz-button nzType="primary" nzShape="circle">
  <i nz-icon nzType="search"></i>
</button>
<button nz-button nzType="default" nzShape="round">
  <i nz-icon nzType="search"></i>Default Button
</button>
<button nz-button nzType="dashed">
  <i nz-icon nzType="search"></i>Dashed Button
</button>
<button nz-button nzType="text">Text Button</button>

<nz-divider nzText="with nzSize"></nz-divider>

<button nz-button nzType="primary" nzSize="large">
  <i nz-icon nzType="search"></i>Primary Button
</button>
<button nz-button nzType="default" nzSize="default">
  <i nz-icon nzType="search"></i>Default Button
</button>
<button nz-button nzType="dashed" nzSize="small">
  <i nz-icon nzType="search"></i>Dashed Button
</button>

<nz-divider nzText="with disabled"></nz-divider>

<button nz-button nzType="primary" nzSize="large" disabled>
  <i nz-icon nzType="search"></i>Primary Button
</button>
<button nz-button nzType="default" nzSize="default" disabled>
  <i nz-icon nzType="search"></i>Default Button
</button>
<button nz-button nzType="dashed" nzSize="small" disabled>
  <i nz-icon nzType="search"></i>Dashed Button
</button>
<a nz-button nzType="text">Text</a>
<a nz-button nzType="text" disabled>Text(disabled)</a>
<a nz-button nzType="link">Link</a>
<a nz-button nzType="link" disabled>Link(disabled)</a>
<button nz-button nzType="primary" nzDanger>Danger</button>
<button nz-button nzType="text" nzDanger>Danger</button>
<button nz-button nzType="default" nzDanger>ADanger</button>
<div style="background: rgb(190, 200, 200)">
  <button nz-button nzGhost>Ghost</button>
  <button nz-button nzGhost disabled>Ghost</button>
</div>

<nz-divider nzText="with loading"></nz-divider>

<nz-button-group nzSize="large">
  <button nz-button nzType="primary">
    <i nz-icon nzType="download"></i>Download
  </button>
  <button nz-button nzType="primary">
    <i nz-icon nzType="left"></i>Backward
  </button>
  <button nz-button nzType="primary">
    Forward<i nz-icon nzType="right"></i>
  </button>
</nz-button-group>

<button
  nz-button
  nzType="primary"
  nzSize="large"
  [nzLoading]="isLoadingOne"
  (click)="loadOne()"
>
  <i nz-icon nzType="search"></i>Primary Button
</button>
<button
  nz-button
  nzType="primary"
  nzSize="large"
  [nzLoading]="isLoadingPowerOff"
  (click)="loadPowerOff()"
>
  <i nz-icon nzType="poweroff"></i>Power On
</button>

<nz-divider nzText="with 按鈕組合"></nz-divider>

<nz-button-group>
  <button nz-button>Cancel</button>
  <button nz-button nzType="primary">OK</button>
</nz-button-group>

<nz-button-group>
  <button nz-button nzType="primary">L</button>
  <button nz-button nzType="primary">M</button>
  <button nz-button nzType="primary">R</button>
</nz-button-group>

<nz-divider nzText="with 多個按鈕組合"></nz-divider>

<nz-button-group>
  <button nz-button nzType="primary">Primary</button>
  <button nz-button nzType="default">Second</button>
  <button nz-button nz-dropdown [nzDropdownMenu]="menu">
    Action<i nz-icon nzType="down"></i>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>
        <a>1st item</a>
      </li>
      <li nz-menu-item>
        <a>2nd item</a>
      </li>
      <li nz-menu-item>
        <a>3rd item</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</nz-button-group>

<nz-divider nzText="with block"></nz-divider>
<button nz-button nzType="primary" nzBlock>Primary</button>
<button nz-button nzType="default" nzBlock>Default</button>

<nz-divider nzText="with Demo"></nz-divider>
<div class="demo">
  <button nz-button nzType="default" nzDanger>Danger</button>
  <button nz-button nzType="default" disabled>Default(disabled)</button>
  <button nz-button nzType="primary" nzLoading>Default(loading)</button>
  <div style="background: rgb(190, 200, 200); padding: 8px 8px 0px 8px">
    <button nz-button nzGhost>Ghost</button>
  </div>
</div>

<nz-divider nzText="with Demo shape"></nz-divider>
<div class="demo">
  <button nz-button nzType="primary">Primary</button>
  <button nz-button nzType="primary" nzShape="circle">P</button>
  <button nz-button nzType="primary" nzShape="round">Primary</button>
</div>

<nz-divider nzText="with Demo button group"></nz-divider>
<nz-button-group>
  <button nz-button nzType="default">L</button>
  <button nz-button nzType="default">M</button>
  <button nz-button nzType="default">R</button>
</nz-button-group>

<nz-divider nzText="with Demo button size"></nz-divider>
<div class="demo">
  <button nz-button nzType="primary" nzSize="large">Large</button>
  <button nz-button nzType="default" nzSize="default">Default</button>
  <button nz-button nzType="primary" nzSize="small">Small</button>
</div>

<nz-divider nzText="with Demo icon"></nz-divider>

<button nz-button nzType="primary" nzSize="large">
  <i nz-icon [nzType]="'home'"></i>Large
</button>
<div class="demo-icon">
  <i nz-icon [nzType]="'home'"></i>
  <i nz-icon [nzType]="'setting'" [nzSpin]="true"></i>
  <i nz-icon [nzType]="'setting'" [nzSpin]="true" [nzTheme]="'fill'"></i>
  <i nz-icon [nzType]="'setting'" [nzSpin]="true" [nzTheme]="'twotone'"></i>
  <i nz-icon [nzType]="'loading'"></i>
  <i
    nz-icon
    [nzType]="'heart'"
    [nzTheme]="'twotone'"
    [nzTwotoneColor]="'red'"
  ></i>
  <div class="demo-icon" style="background-color: black">
    <i nz-icon>
      <img src="assets/activation.svg" />
    </i>
  </div>
  <div class="demo-icon" style="background-color: grey">
    <i nz-icon nzType="ng-zorro:antd"></i>
  </div>
</div>

<nz-divider nzText="with Demo Tooltip"></nz-divider>
<span nz-tooltip nzTooltipTitle="Hello tooltip"> My Text</span>
<button
  nz-button
  nz-tooltip
  nzTooltipTitle="myTooltip"
  nzTooltipPlacement="top"
>
  Top
</button>
<button
  nz-button
  nz-tooltip
  nzTooltipTitle="myTooltip-top left"
  nzTooltipPlacement="topLeft"
>
  Top Left
</button>
<div>
  <button
    nz-button
    nz-tooltip
    nzTooltipTitle="myTooltip"
    nzTooltipPlacement="right"
  >
    Right
  </button>
</div>
<div style="margin-left: 100px">
  <button
    nz-button
    nz-tooltip
    nzTooltipTitle="myTooltip"
    nzTooltipPlacement="left"
  >
    Left
  </button>
</div>
<div style="margin-bottom: 50px; margin-left: 60px">
  <button
    nz-button
    nz-tooltip
    nzTooltipTitle="myTooltip"
    nzTooltipPlacement="bottom"
  >
    Down
  </button>
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe recusandae hic
  in, ut architecto est velit soluta, explicabo doloremque qui aperiam,
  cupiditate asperiores repellendus quas totam dolores voluptatibus odit
  blanditiis.
</div>
<div
  style="
    margin-left: 60px;
    clear: both;
    margin-bottom: 8px;
    padding-bottom: 50px;
  "
>
  <button
    nzTooltipTitle="prompt text"
    nzTooltipPlacement="bottomLeft"
    nz-button
    nz-tooltip
  >
    BL
  </button>
  <button
    nzTooltipTitle="prompt text"
    nzTooltipPlacement="bottom"
    nz-button
    nz-tooltip
  >
    Bottom
  </button>
  <button
    nzTooltipTitle="prompt text"
    nzTooltipPlacement="bottomRight"
    nz-button
    nz-tooltip
  >
    BR
  </button>
</div>


